.header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: end;
  padding: 20px;

  &__button {
    width: 7vw;
    height: 7vw;
    font-size: 7vw;
    border: none;
    cursor: pointer;
    transition: 1.5s;
    color: #e9d30a;
    background-color: #ffffff00;
  }

  .dark &__button {
    color: #ffffff;
  }
}
